################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WebHotelPacificRef/appsettings.json
/WebHotelPacificRef/appsettings.Development.json
/.vs
/WebHotelPacificRef/bin/Debug/net10.0
/WebHotelPacificRef/obj
/WebHotelPacificRef/WebHotelPacificRef.csproj.user
/WebHotelPacificRef/.vs/WebHotelPacificRef.slnx
/WebHotelPacificRef/.vs
