<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebHotelPacificRef</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebHotelPacificRef.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid p-0">
        <div class="d-flex" style="min-height: 100vh;">
            
            <!-- MENU AZUL LATERAL -->
           
            <div class="d-flex flex-column p-4" style="width: 260px; background-color: #243bcc;">
                <ul class="nav flex-column mb-auto mt-2">
                    <li class="nav-item mb-4">
                        <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Habitacions" asp-action="Estado" style="font-size: 1.15rem;">Panel Principal</a>
                    </li>
                    <li class="nav-item mb-4">
                        <a class="nav-link text-white fw-bold" href"#" style="font-size: 1.15rem;">Recepcion</a>
                    </li>
                    <li class="nav-item mb-4">
                        <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Habitacions" asp-action="Index" style="font-size: 1.15rem;">Inventario Habitaciones</a>
                    </li>
                    <li class="nav-item mb-4">
                        <a href="#" class="nav-link text-white fw-bold" style="font-size: 1.15rem;">Cerrar Sesion</a>
                    </li>
                </ul>
                
                <!-- Logo Hotel -->
                <div class="mt-auto mb-2">
                    <img src="~/logo.png" alt="Hotel Pacific Reef" class="d-block mx-auto" style="max-width: 280px; transform: translateX(-30px);" />
                </div>
            </div>

            <!-- CONTENIDO DE LA PÁGINA (A LA DERECHA) -->
            <div class="flex-grow-1 p-5" style="background-color: #f4f4f4;">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
            
        </div>
    </div>

    <!--  Bootstrap y .NET -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
